.container-contactpage {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Poppins";
  flex-direction: column;
}

.main-contact {
  width: 80%;
  height: 720px;

  display: flex;
  align-items: center;
}

.contact-container,
.msg-container {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.contacts {
  display: flex;
  width: 80%;
  height: 250px;
  flex-direction: column;
  background-color: #1f41bb;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.contacts h1 {
  font-size: 2.9rem;
}
.contacts label {
  font-weight: 600;
}

.contacts .labels h4 {
  font-weight: 300;
}
.contacts .labels {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.msg-container {
  color: #1f41bb;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
}

@media screen and (max-width: 1400px) {
  .main-contact {
    flex-direction: column;
  }
  .contact-container {
    width: 100%;
    height: 100%;
  }
  .msg-container {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 790px) {
  .contact-container {
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
  }

  .contacts {
    width: 100%;
    height: 100%;
  }
  .msg-container {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 580px) {
  .contact-container {
    width: 100%;
    height: 50%;
  }
  .contacts {
    text-align: center;
    gap: 4px;
  }
  .contacts h1 {
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
  }
  .contacts .labels {
    font-size: 1.4rem;
  }
  .contacts .labels label {
    display: none;
  }

  .contacts .social-container {
    height: 60px;
  }
  .msg-container {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  .contacts .labels {
    font-size: 1.0rem;
  }
  .msg-container {
    font-size: 1.4rem;
  }

}
