/* HEADER */

.header-container {
  display: flex;
  width: 80%;
  height: 100px;
  justify-content: space-between;
}

.header-container .logo,
.header-container .nav {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
}

.header-container .nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.header-container .nav ul a {
  font-size: 20px;
  font-weight: 600;
  background: transparent;
}

.header-container .nav ul a li:hover {
  transition: transform 1.4s, color 1.3s;
  transform: scale(1.1);
  color: #fff;
}

.header-container .nav .menu {
  display: flex;
}
.header-container .logo {
  display: flex;
}
@media screen and (max-width: 890px) {
  /* mobile */
  .header-container {
    height: 200px;
    flex-direction: column;
  }
  .header-container .logo,
  .header-container .nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
   
  }

  .header-container .nav ul {
    width: 100%;
  
    justify-content: center;
    align-items: center;
  }
  .header-container .nav ul li {
    font-size: 1.2rem;
   
  }
}
